GROQ_API_KEY=
OPENAI_API_KEY=
XAI_API_KEY=
ANTHROPIC_API_KEY=
OLLAMA_API_BASE="http://127.0.0.1:11434"
XAI_BASE_URL="https://api.x.ai/v1"
GEMINI_API_KEY=
ELEVENLABS_API_KEY=
VERTEX_LOCATION=us-east5
VERTEX_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY=
